# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [2]:
drinks = pd.read_csv(r"E:\github_repo\python-learning\pandas_exercises_with_data\data\drinks.csv")

In [3]:
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks more beer on average?

In [17]:
grouped = drinks.groupby("continent")
grouped.mean()["beer_servings"].argmax()

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
The current behaviour of 'Series.argmax' is deprecated, use 'idxmax'
instead.
The behavior of 'argmax' will be corrected to return the positional
maximum in the future. For now, use 'series.values.argmax' or
'np.argmax(np.array(values))' to get the position of the maximum
row.
  """Entry point for launching an IPython kernel.

'EU'

### Step 5. For each continent print the statistics for wine consumption.

In [25]:
grouped.sum()["wine_servings"]

continent
AF     862
AS     399
EU    6400
OC     570
SA     749
Name: wine_servings, dtype: int64

### Step 6. Print the mean alcohol consumption per continent for every column

In [27]:
grouped.mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Step 7. Print the median alcohol consumption per continent for every column

In [28]:
grouped.median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [32]:
grouped.agg([np.mean, min, max])

          beer_servings          spirit_servings          wine_servings      \
                   mean min  max            mean min  max          mean min
continent
AF            61.471698   0  376       16.339623   0  152     16.264151   0
AS            37.045455   0  247       60.840909   0  326      9.068182   0
EU           193.777778   0  361      132.555556   0  373    142.222222   0
OC            89.687500   0  306       58.437500   0  254     35.625000   0
SA           175.083333  93  333      114.750000  25  302     62.416667   1

               total_litres_of_pure_alcohol
           max                         mean  min   max
continent
AF         233                     3.007547  0.0   9.1
AS         123                     2.170455  0.0  11.5
EU         370                     8.617778  0.0  14.4
OC         212                     3.381250  0.0  10.4
SA         221                     6.308333  3.8   8.3